<div class="note bg-colored shadow padding20 d-flex flex-column justify-content-between" [style.backgroundColor]="this.note.backgroundColor">

    <!-- <mat-form-field class="w-100 d-flex flex-column justify-content-center">
        <input matInput type="text" placeholder="Title" (change)="updateValueTitle($event)" [value]="this.note.title">
    </mat-form-field> -->

    <app-input-text [value]="this.note.title" placeholder="Subtitle" hasborder="true" label="Title" [labelBackground]="this.note.backgroundColor" (insertedValue)="updateValueTitle($event)"></app-input-text>

    <!-- <mat-form-field class="w-100 d-flex flex-column justify-content-center">
        <input matInput type="text" placeholder="Subtitle" (change)="updateValueSubtitle($event)" [value]="this.note.subtitle">
    </mat-form-field> -->


    <app-input-text [value]="this.note.subtitle" placeholder="Subtitle" hasborder="true" label="Subtitle" [labelBackground]="this.note.backgroundColor" (insertedValue)="updateValueSubtitle($event)"></app-input-text>

    <div class="w-100 margin-bottom-5 editor-container">
        <span class="editor-label" [style.backgroundColor]="this.note.backgroundColor">Content</span>
        <ckeditor [editor]="Editor" [config]="{ toolbar: [  'bold', 'italic' , '|', 'link', '|' , 'bulletedList', 'numberedList', '|' , 'undo', 'redo' ] }" [(data)]="this.note.content" (change)="updateContent($event)"></ckeditor>
    </div>

    <div class="w-100 d-flex justify-content-between align-items-center margin-bottom-10 margin-top-20">
        <span>Advanced Settings</span>
        <mat-slide-toggle (click)="toggleAdvancedSettings()" color="custom"></mat-slide-toggle>
    </div>

    <div class="advanced-container" *ngIf="this.showAdvancedSettings">
        <span class="color-label" [style.backgroundColor]="this.note.backgroundColor">Background Color</span>
        <div class="color-container w-100 d-flex justify-content-between">
            <div class="background-color-selector w-100 margin-bottom-10">
                <div class="bg-color" *ngFor="let color of this.bgColor">
                    <div class="color-circle" (click)="updateBGColor(color)" [style.backgroundColor]="color"></div>
                </div>
            </div>
        </div>

        <div class="font-container w-100 d-flex justify-content-between">
            <mat-form-field class="w-100 d-flex flex-column justify-content-center">
                <mat-label>Select you font of choice</mat-label>
                <mat-select [(value)]="selectedFont">
                    <mat-option matInput *ngFor="let font of this.fontArray" [value]="font" [style.fontFamily]="font">
                        {{font}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <!-- <mat-form-field id="font-size-selector" class="font-size-selector w-25 d-flex flex-column justify-content-center">
                <mat-label>Font Size</mat-label>
                <input matInput type="number" value="15" (change)="updateFontSize($event)">
            </mat-form-field> -->
        </div>

        <div class="tags-adder-container d-flex align-items-center justify-content-between">
            <mat-form-field class="w-75 d-flex flex-column justify-content-center">
                <mat-label>Tags</mat-label>
                <input #tag matInput type="text" (change)="addToTags($event); tag.value= ''">
            </mat-form-field>
            <button mat-raised-button class="add-tag w-25" color="custom">Add tag</button>
        </div>

        <div class="tags-container d-flex wrap">
            <div *ngFor="let tag of this.tags" class="tag width-fit">
                <div class="width-fit d-flex justify-content-between align-items-center">
                    <span class="padding-right-10">{{tag}}</span>
                    <span class="material-icons cancel-button" (click)="removeFromTags(tag)">
                        cancel
                    </span>
                </div>
            </div>
        </div>

        <div class="tags-adder-container d-flex align-items-center justify-content-between">
            <mat-form-field class="w-75 d-flex flex-column justify-content-center">
                <mat-label>Links</mat-label>
                <input #link matInput type="text" (change)="addToLinks($event); link.value= ''">
            </mat-form-field>
            <button mat-raised-button class="w-25 add-tag" color="custom">Add link</button>
        </div>
        <span class="invalid" *ngIf="this.linkError.length > 0">
            {{this.linkError}}
        </span>

        <div class="tags-container d-flex wrap">
            <div *ngFor="let link of this.links" class="tag w-100 ">
                <div class="w-100 d-flex justify-content-between align-items-center">
                    <span class="link">{{link}}</span>
                    <span class="material-icons cancel-button" (click)="removeFromLinks(link)">
                        cancel
                    </span>
                </div>
            </div>
        </div>
    </div>

    <button mat-raised-button color="primary" (click)="submitData()">Save</button>
    <button mat-raised-button color="primary" (click)="cancelEdit()">Cancel</button>
</div>