.login-form {
    background-color: honeydew;

    color: black;
}

.padding20 {
    padding: 20px 0px;
}

.padding5 {
    padding: 5px;
}

.margin20 {
    margin: 20px;
}

.margin-top-20 {
    margin-top: 20px;
}

.color-red {
    color: #bf0000;
}

.height20 {
    height: 20px;
}


.error {
    word-spacing: 8px;
    letter-spacing: 3px;
}

.title {
   font-size: 30px;
   text-align: center;
}

.main-container{
    font-family: "Cabin"  !important;
}

.height300 {
    height: 300px;
}

/* Start for mobile CSS */
@media (min-width: 320px) and (max-width: 767px) {
    .responsive-width { 
        width: 100%;
    }

    .padding-responsive {
        padding: 20px 20px 0px 20px;
    }
}
/* End for Mobile CSS */

/* Start for Tablet and above CSS */
@media (min-width: 768px) {
    .responsive-width { 
        width: 75%;
    }

    .padding-responsive {
        padding: 60px 60px 40px 60px;
    }
}
/* End for Tablet and above CSS */