<div class="height100 w-100 d-flex justify-content-center align-items-center">
    <div class="w-100 padding-responsive height300 ">
        <div class="login-title d-flex justify-content-center">
            <div class="title">Welcome to Notes Keeper</div>
        </div>
        <form class="add-patient-form">
            <!-- <div class="mat-headline w-100 d-flex justify-content-center">
          Add Patient
        </div> -->
            <div class="w-100 d-flex flex-row">
                <div
                    class="login-details w-100 padding20 d-flex flex-column justify-content-center align-items-center ">
                    <!--Reactive form Validaions-->

                    <div class="w-100 d-flex align-items-center justify-content-between padding5">
                        <mat-label>Email</mat-label>
                        <div class="w-75">
                            <input matInput type="email" placeholder="me@mail.com" name="email" value=""
                                class="form-control" formControlName="emailId" (change)="mailChanged($event)" />
                        </div>
                    </div>

                    <div class=" w-100 d-flex align-items-center justify-content-between padding5">
                        <mat-label>Password</mat-label>
                        <div class="w-75">
                            <input matInput type="password" placeholder="********" name="pass" value=""
                                class="form-control" formControlName="password" (change)="passChanged($event)" />
                        </div>
                    </div>

                    <div class="button-container w-75">
                        <button class="margin-top-20 w-100" mat-raised-button color="custom"
                            (click)="checkLogin($event)">Login</button>
                    </div>
                </div>
            </div>
            <div class="invalid-cred d-flex justify-content-center color-red height20">
                <span class="error" *ngIf="!this.isLoginValid && this.loginChecked">{{this.errorString}}</span>
            </div>

        </form>

    </div>
</div>