<!-- <div class="back-container w-100 justify-content-end align-items-center d-flex  pointer" routerLink="/">
    <div class="align-items-center d-flex padding20">
        <i class="fa fa-sign-out padding-right10 font-size-25"></i>
        <span>Log out</span>
    </div>
</div> -->


<div class="search-container d-flex w-100 justify-content-center">
    <app-search-box class="w-50" [value]="" placeholder="Search by tag" hasborder="true" [label]="{keyword: ' Search by keyword ', tag: 'Search by tag ', color : 'Search by color '}" [labelBackground]="this.notesData?.backgroundColor ? this.notesData?.backgroundColor : '#808080'" (insertedValue)="enterSearchDetails($event)"></app-search-box>
</div>

<div class="notes-container">
    <div *ngFor="let note of this.notesData">
        <app-note [note]="note"></app-note>
    </div>
    <div>
        <app-add-note></app-add-note>
    </div>
</div>