.note {
    min-width: 400px;
    max-width: 400px;
    min-height: 250px;
    width: fit-content;
}

.bold-italic {
    font-weight: 800;
    
}

input.mat-input-element.mat-form-field-autofill-control {
    /* text-align: center; */
    height: 20px;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}

.height-100 {
    height: 100%;
}

.font-size-25 {
    font-size:25px;
} 

input[type="color"] {
    height: 40px  !important;
    border:none !important;
    border-color: transparent !important;
    outline: none !important;
}

.font-size-selector {
    height: 52px !important;
}

.w-70 {
    width: 70%;
}

.font-70 {
    font-size: 70px;
}

.colored {
    color:#e8cc6e;
}

.bg-colored {
    background-image: url("https://raw.githubusercontent.com/phoenixSaket/saketVerma/master/saketverma/src/Images/BG_new.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
}

.width-fit {
    width: fit-content;
}

.tag {
    padding: 10px;
    background-color: #e8cc6e;
    margin: 5px 5px 5px 0px;
    border-radius: 2px;
    cursor: pointer;
}

.tag:hover {
    background-color: tomato;
}

.wrap {
    flex-wrap: wrap;
}

.add-tag {
    height: fit-content;
}




@media (min-width: 320px) and (max-width: 767px) {
    .notOnMobile {
        display: none !important;
    }

    .onlyOnMobile {
        display: block;
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: white;
        border-radius: 50%;
        opacity: 1;
        cursor: pointer;
    }
}

@media (min-width: 768px) {
    .notOnMobile {
        display: flex !important;
    }

    .onlyOnMobile {
        display: none;
    }
}