<div mat-button-icon
    class="note bg-colored shadow padding20 margin20 d-flex flex-column justify-content-center align-items-center text-center font-size-25 pointer"
    *ngIf="!addNote" (click)="toggleAddNote()">
    <span class="material-icons circle font-70 colored">
        add_circle
    </span>
</div>

<div class="note bg-colored shadow padding20 margin20 d-flex flex-column justify-content-center" *ngIf="addNote">

    <mat-form-field class="w-100 d-flex flex-column justify-content-center height-100">
        <input matInput type="text" placeholder="Title" (change)="updateValueTitle($event)">
    </mat-form-field>

    <mat-form-field class="w-100 d-flex flex-column justify-content-center height-100">
        <input matInput type="text" placeholder="Subtitle" (change)="updateValueSubtitle($event)">
    </mat-form-field>

    <mat-form-field class="w-100 d-flex flex-column justify-content-center height-100">
        <input matInput type="text" placeholder="Author" (change)="updateValueAuthor($event)">
    </mat-form-field>



    <div class="font-container w-100 d-flex justify-content-between">
        <mat-form-field class="w-70 d-flex flex-column justify-content-center height-100">
            <mat-label>Select you font of choice</mat-label>
            <mat-select [(value)]="selectedFont">
                <mat-option matInput *ngFor="let font of this.fontArray" [value]="font" [style.fontFamily]="font">
                    {{font}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field id="font-size-selector"
            class="font-size-selector w-25 d-flex flex-column justify-content-center">
            <mat-label>Font Size</mat-label>
            <input matInput type="number" (change)="updateFontSize($event)">
        </mat-form-field>
    </div>

    <div class="color-container w-100 d-flex justify-content-between">
        <mat-form-field class="w-50 d-flex flex-column justify-content-center height-100">
            <input matInput type="color" [value]="this.backgroundColor" (change)="updateBGColor($event)"
                placeholder="Background Color">
        </mat-form-field>

        <mat-form-field class="w-50 d-flex flex-column justify-content-center height-100">
            <input matInput type="color" [value]="this.textColor" (change)="updateColor($event)"
                placeholder="Text Color">
        </mat-form-field>
    </div>

    <!-- <mat-form-field class="w-100 d-flex flex-column justify-content-center height-100">
        <textarea matInput placeholder="Content" rows="5" (change)="updateContent($event)"></textarea>
    </mat-form-field> -->

    <div class="w-100 margin-bottom-20">
        <ckeditor [editor]="Editor"
            [config]="{ toolbar: [  'bold', 'italic' , '|', 'link', '|' , 'bulletedList', 'numberedList', '|' , 'undo', 'redo' ] }"
            [(data)]="this.editor.data" (change)="updateContent($event)"></ckeditor>
    </div>

    <button mat-raised-button color="primary" (click)="submitData()">Add to Notes</button>
</div>