.note {
    min-width: 350px;
    max-width: 400px;
    min-height: 250px;
    width: fit-content;
}

.bold-italic {
    font-weight: 800;
    
}

input.mat-input-element.mat-form-field-autofill-control {
    text-align: center;
    height: 20px;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}

.height-100 {
    height: 100%;
}

.font-size-25 {
    font-size:25px;
} 