.note {
    width: 85%;
    /* height: 100%; */
    min-height: 450px;
    border-radius: 15px;
    color: #E8EAED;
}

input[type="text"] {
    color: #E8EAED;
}

.bold-italic {
    font-weight: 800;
}

input.mat-input-element.mat-form-field-autofill-control {
    /* text-align: center; */
    height: 30px;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}

.height-100 {
    height: 100%;
}

.font-size-25 {
    font-size: 25px;
}

input[type="color"] {
    height: 40px !important;
    border: none !important;
    border-color: transparent !important;
    outline: none !important;
}

.font-size-selector {
    height: 44px !important;
}

.font-size-50 {
    font-size: 50px;
}

.cursor {
    cursor: pointer;
}

.w-70 {
    width: 70%;
}

.font-70 {
    font-size: 70px;
}

.colored {
    /* color: #e8cc6e; */
    color: #E8CC6E;
}

.bg-colored {
    background-color: #3C3F43;
    /* background-color: white; */
}

.width-fit {
    width: fit-content;
}

.tag {
    padding: 10px;
    background-color: #ffffff60;
    margin: 5px 5px 5px 0px;
    border-radius: 5px;
    cursor: pointer;
}

.link {
    padding: 10px;
    background-color: #ffffff60;
    margin: 5px 0px 5px 0px;
    border-radius: 5px;
    cursor: pointer;
}

.cancel-button {
    display: none;
    align-self: center;
}

.link .cancel-button {
    display: none;
}

.tag:hover {
    background-color: #ff00a760;
}

.tag:hover .cancel-button {
    display: block;
}

.link:hover {
    background-color: #ff00a760;
}

.link-cancel:hover .cancel-button {
    display: block;
}

.wrap {
    flex-wrap: wrap;
}

.add-tag {
    height: fit-content;
}

.padding-right-10 {
    padding-right: 5px;
}

@media (min-width: 320px) and (max-width: 767px) {
    .notOnMobile {
        display: none !important;
    }
    .onlyOnMobile {
        display: block;
        position: fixed;
        bottom: 20px;
        right: 20px;
        border-radius: 50%;
        opacity: 1;
        cursor: pointer;
    }
}

@media (min-width: 768px) {
    .notOnMobile {
        display: flex !important;
    }
    .onlyOnMobile {
        display: none;
    }
}

.background-color-selector {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.color-circle {
    width: 30px;
    height: 30px;
    margin: 3px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 0px black;
}

.background-color-selector {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.color-circle {
    width: 30px;
    height: 30px;
    margin: 3px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 0px black;
}

.editor-container {
    border-radius: 5px;
    border: 1px solid #E8EAED;
    margin-top: 20px;
}

.editor-label {
    position: relative;
    top: -9px;
    left: 10px;
    padding: 5px 5px;
    border-radius: 5px;
    font-size: smaller;
}

.color-label {
    position: relative;
    top: 10px;
    left: 10px;
    padding: 5px 5px;
    border-radius: 5px;
    font-size: smaller;
}

.background-color-selector {
    padding: 15px 10px;
    border-radius: 5px;
    border: 1px solid #E8EAED;
}

.margin-top-20 {
    margin-top: 20px;
}

.font-container {
    padding: 15px 10px;
    border-radius: 5px;
    border: 1px solid #E8EAED;
}

.add-tag {
    height: 50px;
}

.tag-adder {
    width: 70%;
}

.tag {
    padding: 10px;
    background-color: #ffffff60;
    margin: 5px 5px 5px 0px;
    border-radius: 5px;
    cursor: pointer;
}

.tag:hover {
    background-color: #ff00a760;
}

.tag:hover .cancel-button {
    display: block;
}

.wrap {
    flex-wrap: wrap;
}

.button-container-bottom .mat-custom {
    background-color: #E8CC6E !important;
}

.button-container-bottom {
    margin-top: 20px;
}

.mat-custom {
    background-color: #e8cc6e;
}

.add {
    font-weight: 800;
}