/* You can add global styles to this file, and also import other style files */

@import 'https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css';
@import '../node_modules/font-awesome/css/font-awesome.css';

/* {
    font-family: 'Inconsolata', monospace;
    font-family: 'Kiwi Maru', serif;
    font-family: 'Merriweather', serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Source Code Pro', monospace;
    font-family: 'Ubuntu', sans-serif;
} */


/* 5C2B29
635D19
345920
16504B
2D555E
1E3A5F
42275E
5B2245
442F19
3C3F43 */

.w-28 {
    width: 28% !important;
}

.font-family-Inconsolata {
    font-family: 'Inconsolata', monospace;
}

.font-family-KiwiMaru {
    font-family: 'Kiwi Maru', serif;
}

.font-family-Merriweather {
    font-family: 'Merriweather', serif;
}

.font-family-Nunito {
    font-family: 'Nunito', sans-serif;
}

.font-family-NunitoSans {
    font-family: 'Nunito Sans', sans-serif;
}

.font-family-OpenSans {
    font-family: 'Open Sans', sans-serif;
}

.font-family-Raleway {
    font-family: 'Raleway', sans-serif;
}

.font-family-Roboto {
    font-family: 'Roboto', sans-serif;
}

.font-family-RobotoSlab {
    font-family: 'Roboto Slab', serif;
}

.font-family-Rubik {
    font-family: 'Rubik', sans-serif;
}

.font-family-SourceCodePro {
    font-family: 'Source Code Pro', monospace;
}

.font-family-Ubuntu {
    font-family: 'Ubuntu', sans-serif;
}

.font-family-Cabin {
    font-family: "Cabin", sans-serif;
}

* {
    background: transparent;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Cabin", sans-serif !important;
    background-color: #202124;
}

.main-container {
    font-family: "Cabin" !important;
    width: 100%;
}

.padding20 {
    padding: 20px;
}

.margin20 {
    margin: 20px;
}

.padding-right10 {
    padding-right: 10px;
}

.pointer {
    cursor: pointer;
}

.border-radius-5 {
    border-radius: 5px;
}

.height100 {
    height: 100vh;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-5 {
    margin-bottom: 5px;
}

.invalid {
    color: tomato;
}

.circle {
    border-radius: 50%;
}

.ck.ck-toolbar {
    background: unset !important;
    border: unset !important;
}

.ck.ck-editor__main>.ck-editor__editable:not(.ck-focused) {
    border-color: white !important;
    border: 1px solid rgba(0, 0, 0, 0.4) !important;
    box-shadow: none !important;
}

.ck.ck-editor__main>.ck-editor__editable {
    background: transparent !important;
    border-radius: 0;
}


/* .ck.ck-toolbar>.ck-toolbar__items {
    justify-content: center !important;
} */

.ck.ck-reset.ck-editor.ck-rounded-corners {
    border: none;
}

.ck-focused {
    border: none !important;
    box-shadow: none !important;
}

.ck.ck-sticky-panel {
    background-color: transparent !important;
    color: #E8EAED;
}

svg.ck.ck-icon.ck-button__icon {
    color: #E8EAED !important;
}

.ck.ck-button.ck-on,
a.ck.ck-button.ck-on {
    background: #00000060 !important;
}

.ck.ck-button.ck-on:not(.ck-disabled):hover,
a.ck.ck-button.ck-on:not(.ck-disabled):hover {
    background: #00000060 !important;
}

.ck.ck-button:not(.ck-disabled):hover,
a.ck.ck-button:not(.ck-disabled):hover {
    background: #00000060 !important;
}

.mat-raised-button.mat-custom {
    background-color: #e8cc6e;
}

.edit-note .ck.ck-reset.ck-editor.ck-rounded-corners {
    border: none !important;
}

.edit-note .ck.ck-sticky-panel {
    background-color: unset !important;
}

.ck.ck-sticky-panel__content {
    display: flex;
    justify-content: center;
}

.login-container {
    background-color: #202124;
    color: #E8EAED;
    background-image: url("/assets/bg.jpg");
    background-position: center;
    background-attachment: fixed;
    background-origin: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
}

.mat-form-field-appearance-legacy .mat-form-field-label {
    color: rgba(255, 255, 255, 0.5) !important;
}

.w-60 {
    width: 60% !important;
}

.span.mat-select-min-line.ng-tns-c87-1.ng-star-inserted,
.mat-select-value,
.mat-select-arrow {
    color: #E8EAED !important;
}

.mat-option,
.mat-option.mat-active {
    font-weight: 200;
    color: #E8EAED !important;
}

.mat-option.mat-active {
    font-weight: 600;
    background-color: #141414 !important;
}

.mat-select-panel {
    background-color: #212529 !important;
}


/* Hide scrollbar for Chrome, Safari and Opera */

.mat-select-panel::-webkit-scrollbar {
    display: none;
}


/* Hide scrollbar for IE, Edge and Firefox */

.mat-select-panel {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

html::-webkit-scrollbar {
    display: none;
}


/* Hide scrollbar for IE, Edge and Firefox */

html {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: #E8CC6E;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: #E8CC6Eaa;
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-end {
    justify-content: flex-end;
}

.align-items-center {
    align-items: center;
}

.align-content-center {
    align-content: center;
}

.w-100 {
    width: 100%;
}

.w-75 {
    width: 75%;
}

.w-50 {
    width: 50%;
}

.w-25 {
    width: 25%;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}