/* You can add global styles to this file, and also import other style files */

@import 'https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css';
@import '../node_modules/font-awesome/css/font-awesome.css';

/* {
    font-family: 'Inconsolata', monospace;
    font-family: 'Kiwi Maru', serif;
    font-family: 'Merriweather', serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Source Code Pro', monospace;
    font-family: 'Ubuntu', sans-serif;
} */


.font-family-Inconsolata {font-family: 'Inconsolata', monospace;}
.font-family-KiwiMaru { font-family: 'Kiwi Maru', serif;}
.font-family-Merriweather { font-family: 'Merriweather', serif;}
.font-family-Nunito {font-family: 'Nunito', sans-serif;}
.font-family-NunitoSans {font-family: 'Nunito Sans', sans-serif;}
.font-family-OpenSans {font-family: 'Open Sans', sans-serif;}
.font-family-Raleway { font-family: 'Raleway', sans-serif;}
.font-family-Roboto {font-family: 'Roboto', sans-serif;}
.font-family-RobotoSlab {font-family: 'Roboto Slab', serif;}
.font-family-Rubik { font-family: 'Rubik', sans-serif;}
.font-family-SourceCodePro {font-family: 'Source Code Pro', monospace;}
.font-family-Ubuntu { font-family: 'Ubuntu', sans-serif;}
.font-family-Cabin {font-family: "Cabin", sans-serif;}


html, body { height: 100%; }
body { 
    margin: 0;
    font-family: "Cabin", sans-serif  !important;
    background-image: url("https://raw.githubusercontent.com/phoenixSaket/lekhaverma/master/src/Images/BG.png");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-clip: content-box;
    background-size: cover;
    background-color: white;
}

.main-container{
    font-family: "Cabin"  !important;
    width: 100%;
}

.padding20 {
    padding: 20px;
}

.margin20 {
    margin: 20px;
}

.padding-right10 {
    padding-right: 10px;
}

.pointer {
    cursor: pointer;
}

.border-radius-5 {
    border-radius: 5px;
}

.height100 {
    height: 100vh;
}

.margin-bottom-20 { 
    margin-bottom: 20px;
}

.circle {
    border-radius: 50%;
}

.ck.ck-toolbar {
    background: unset !important;
    border: unset !important;
}

.ck.ck-editor__main>.ck-editor__editable:not(.ck-focused) {
    border-color: white !important;
    border: white !important;
    box-shadow: var(--ck-inner-shadow),0 0;
}

/* .ck.ck-toolbar>.ck-toolbar__items {
    justify-content: center !important;
} */
.ck.ck-reset.ck-editor.ck-rounded-corners {
    border: 4px solid #caf0ff;
}

.ck-focused {
    border: none !important;
}

.ck.ck-sticky-panel {
    background-color: #caf0ff !important;
}

.mat-raised-button.mat-custom {
    background-color: #e8cc6e;
}