.note {
    height: 100%;
    width: 100%;
}

.border-bottom {
    border-bottom: 1px solid gray;
}

.bold-italic {
    font-weight: 800;
}

.content-container {
    overflow-wrap: break-word;
}

.width-fit {
    width: fit-content;
}

.title {
    font-size: 25px;
}

.title-container {
    margin-bottom: 5px;
}

.subtitle {
    font-size: 20px;
}

.tag {
    padding: 10px;
    background-color: #ffffff60;
    margin: 5px 5px 5px 0px;
    border-radius: 2px;
    cursor: pointer;
}

.content-container {
    margin: 0px 0px 10px 0px;
    padding: 10px;
}

.middle-container {
    margin-top: 15px;
}

.wrap {
    flex-wrap: wrap;
}

.tag-container,
.link-container {
    margin-bottom: 10px;
}

.link {
    padding: 10px;
    background-color: #ffffff60;
    border-radius: 2px;
    cursor: pointer;
    margin-bottom: 5px;
}

a {
    color: unset !important;
}

.active-settings {
    display: block;
}

.rotate {
    transform: rotate(-360deg);
    transition-duration: 1s;
}

.anti-rotate {
    transform: rotate(360deg);
    transition-duration: 1s;
}

.show-settings {
    display: block;
    opacity: 1;
    animation: show 1s;
}

.hide-settings {
    display: none;
    opacity: 0;
    animation: hide 1s;
}

@keyframes show {
    from {
        display: none;
        opacity: 0;
    }
    to {
        display: block;
        opacity: 1;
    }
}

@keyframes hide {
    from {
        display: block;
        opacity: 1;
    }
    to {
        display: none;
        opacity: 0;
    }
}