<div class="note shadow padding20 margin20 d-flex flex-column justify-content-between"
    [style.fontFamily]="note.fontFamily" [style.color]="note.textColor" [style.backgroundColor]="note.backgroundColor">
    <div class="top-container text-center w-100 ">
        <div class="title-container">
            <span class="title">
                {{note.title}}
            </span>
        </div>
        <div class="subtitle-container">
            <span class="subtitle">
                {{note.subtitle}}
            </span>
        </div>
    </div>

    <div class="middle-container" [style.fontSize]="note.fontSize">
        <span>Content : </span>
        <div class="content-container">
            <!-- {{this.shortContent}} -->
            <div [innerHTML] ="this.shortContent"></div>
            <div class="more-less-container w-100 d-flex justify-content-end">
                <div class="bold-italic" (click)="toggleShortContent()" *ngIf="this.contentShortened && this.contentLength">Show More</div>
                <div class="bold-italic" (click)="toggleShortContent()" *ngIf="!this.contentShortened && this.contentLength">Show Less</div>
            </div>
        </div>
    </div>

    <div class="bottom-container">
        <span *ngIf="note.links.length > 0">Links : </span>
        <div class="link-container w-100 d-flex wrap justify-content-center align-items-center">
            <div *ngFor="let link of note.links" class="link w-100">
                <a [href]="link">{{link}}</a>
            </div>
        </div>

        <span *ngIf="note.tags.length > 0">Tags : </span>
        <div class="tag-container w-100 d-flex wrap justify-content-start">
            <div *ngFor="let tag of note.tags" class="tag width-fit">
                {{tag}}
            </div>
        </div>

        <div class="date-container w-100 d-flex justify-content-end">
            <div class="date">
                {{note.date}}
            </div>
        </div>
    </div>
</div>