.note {
    min-width: 400px;
    max-width: 400px;
    min-height: 250px;
    width: fit-content;
}

.border-bottom {
    border-bottom: 1px solid gray;
}

.bold-italic {
    font-weight: 800;
    
}

.content-container {
    overflow-wrap: break-word;
}