.note {
    height: 450px;
    overflow: auto;
    width: 85%;
    color: #E8EAE4;
    border-radius: 15px;
}

.show-note {
    position: relative;
}

.border-bottom {
    border-bottom: 1px solid gray;
}

.bold-italic {
    font-weight: 800;
}

.subtitle-container {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    text-align: center;
}

.content-container {
    overflow-wrap: break-word;
}

.width-fit {
    width: fit-content;
}

.title {
    font-size: 25px;
}

.title-container {
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
}

.subtitle {
    font-size: 17px;
}

.tag {
    padding: 10px;
    background-color: #ffffff60;
    margin: 5px 5px 5px 0px;
    border-radius: 5px;
    cursor: pointer;
}

.content-container {
    margin: 0px 0px 10px 0px;
    padding: 10px;
}

.middle-container {
    margin-top: 15px;
}

.wrap {
    flex-wrap: wrap;
}

.tag-container,
.link-container {
    margin-bottom: 10px;
}

.link {
    padding: 10px;
    background-color: #ffffff60;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5px;
}

a {
    color: unset !important;
}

.active-settings {
    display: block;
}

.rotate {
    transform: rotate(-360deg);
    transition-duration: 1s;
}

.anti-rotate {
    transform: rotate(360deg);
    transition-duration: 1s;
}

.show-settings {
    display: block;
    opacity: 1;
    animation: show 1s;
}

.hide-settings {
    display: none;
    opacity: 0;
    animation: hide 1s;
}

.down {
    background-color: #000;
    transform: rotate(90deg);
    position: absolute;
    bottom: 10px;
    right: 50%;
    z-index: 10;
}

@keyframes show {
    from {
        display: none;
        opacity: 0;
    }

    to {
        display: block;
        opacity: 1;
    }
}

@keyframes hide {
    from {
        display: block;
        opacity: 1;
    }

    to {
        display: none;
        opacity: 0;
    }
}

.space {
    margin: 0px 10px 0 0;
}

.settings {
    margin-bottom: 10px;
}

/* width */
.note::-webkit-scrollbar {
    width: 3px;
}

/* Track */
.note::-webkit-scrollbar-track {
    background: #f1f1f100;
}

/* Handle */
.note::-webkit-scrollbar-thumb {
    background: #80808080;
}

/* Handle on hover */
.note::-webkit-scrollbar-thumb:hover {
    background: #ffffff80;
}