.input-text {
    width: 100%;
    height: 50px;
    border: 1px solid;
    border-radius: 5px;
    padding-left: 10px;
}

.label {
    position: relative;
    top: 9px;
    left: 10px;
    background-color: #635D19;
    padding: 5px 5px;
    border-radius: 5px;
    font-size: smaller;
}